.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* Для мобильной версии убираем прокрутку */
@media (max-width: 768px) {
    .container {
        overflow: hidden;
    }
}




